<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="tailwind.css" rel="stylesheet">
    <title>Jožiho blog</title>
</head>
<body>
    <div id="blog" class="">
        <navbar></navbar>
        <div class="max-w-screen-xl mx-auto py-8 gap-4 lg:grid lg:grid-cols-3">
            <content
                :current-page="currentPage"
                :current-props="currentProps"
                class="lg:col-span-2"
            >
            </content>
            <sidebar></sidebar>
        </div>
    </div>

    <template id="loader">
        <svg class="absolute top-4 left-1/2 animate-spin h-10 w-10 text-green-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
    </template>

    <template id="navbar">
        <nav class="w-full bg-yellow-600 text-white">
            <div class="flex flex-col justify-center items-center max-w-screen-xl mx-auto p-4 sm:flex-row sm:justify-between sm:py-0">
                <h1 class="text-3xl font-extrabold tracking-wide" @click="displayed = !displayed">
                    Jožiho blog
                </h1>

                <ul class="sm:flex" :class="{ 'hidden': !displayed }">
                    <li
                        v-for="(item, index) in menuItems"
                        :key="`menu-item-${index}`"
                        class="uppercase font-semibold cursor-pointer p-4 hover:bg-yellow-800"
                        @click="item.handler"
                    >
                        {{ item.title }}
                    </li>
                </ul>
            </div>
        </nav>
    </template>

    <template id="sidebar">
        <aside>
            sidebar
        </aside>
    </template>

    <template id="content">
        <main class="px-4">
            <component
                :is="currentPage"
                v-bind="currentProps"
            >
            </component>
        </main>
    </template>

    <template id="page-index">
        <div class="relative space-y-8">
            <loader v-if="articles === null"></loader>
            <div v-if="articles && articles.length === 0">
                <p>Prepáčte, ale blog neobsahuje žiadne články!</p>
            </div>
            <div
                v-for="article in articles"
                :key="article.id"
                class="group bg-white shadow rounded-lg overflow-hidden transition delay-300 hover:shadow-lg">
                <div
                    @click="openArticle(article.id)"
                    class="cursor-pointer overflow-hidden"
                >
                    <img :src="article.banner" class="object-cover w-full h-96 transform duration-300 group-hover:scale-110">
                </div>
                <div class="p-8">
                    <span class="text-xs text-gray-400">{{ article.date }}</span>
                    <h3
                        class="mt-2 text-lg font-semibold text-blue-900 cursor-pointer" 
                        @click="openArticle(article.id)">
                        {{ article.title }}
                    </h3>
                    <p class="mt-4 text-gray-500">
                        {{ excerpt(article) }}
                    </p>
                    <a @click="openArticle(article.id)" class="flex mt-2 space-x-2 text-blue-900 font-semibold cursor-pointer">
                        <span>Čítať viac</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </template>

    <template id="page-article">
        <div class="relative">
            <loader v-if="article === null"></loader>
            <template v-else>
                <div>
                    <div class="rounded-lg overflow-hidden">
                        <img :src="article.banner" class="object-cover w-full h-96">
                    </div>
                    <h2 class="mt-2 text-4xl font-light">
                        {{ article.title }}
                    </h2>
                    <div class="flex space-x-2 py-2">
                        <small>{{ article.date }}</small>
                        <small>Článok bol prečítaný {{ article.views }} krát</small>
                    </div>
                    <div v-html="article.text" class="prose-lg text-justify">
                    </div>
                </div>

                <div class="mt-10">
                    <h3 class="text-2xl font-bold">
                        Komentáre
                    </h3>
                    <div class="mt-4 space-y-4">
                        <div v-if="article.comments.length <= 0">
                            <p class="italic font-semibold">Prepáčte, ale článok ešte nikto nekomentoval. Buďte prvý, ktorý tak spravíte!</p>
                        </div>
                        <div
                            v-for="comment in article.comments"
                            :key="comment.id"
                            class="bg-white shadow rounded-lg overflow-hidden transition delay-300 hover:shadow-lg">
                            <div class="p-8">
                                <span
                                    class="block mt-2 text-lg font-semibold cursor-pointer" 
                                    @click="openArticle(article.id)">
                                    {{ comment.author }}
                                </span>
                                <span class="block text-sm text-gray-400">{{ comment.date }}</span>
                                <p class="mt-4 text-gray-500">
                                    {{ comment.text }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </template>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const baseUrl = 'http://localhost:9001';

        const Blog = {
            data() {
                return {
                    currentPage: 'page-index',
                    currentProps: {},
                };
            },

            methods: {
                navigateTo(page, props = {}) {
                    this.currentPage = page;
                    this.currentProps = props;
                },
            },
        };

        const app = Vue.createApp(Blog);

        app.component('loader', {
            template: '#loader',
        });

        app.component('navbar', {
            template: '#navbar',

            data() {
                return {
                    displayed: false,
                    menuItems: [
                        {
                            title: 'Domov',
                            handler: () => {},
                        },
                        {
                            title: 'Články',
                            handler: () => this.$parent.navigateTo('page-index'),
                        },
                        {
                            title: 'O nás',
                            handler: () => {},
                        },
                    ],
                };
            },
        });

        app.component('sidebar', {
            template: '#sidebar',
        });

        app.component('content', {
            template: '#content',

            props: {
                currentPage: {
                    type: String,
                    required: true,
                },
                currentProps: {
                    type: Object,
                    required: true,
                },
            },

            methods: {
                navigateTo(page, props = {}) {
                    this.$parent.navigateTo(page, props);
                },
            },
        });

        app.component('page-index', {
            template: '#page-index',

            data() {
                return {
                    articles: null,
                };
            },

            methods: {
                openArticle(id) {
                    this.$parent.navigateTo('page-article', {
                        articleId: id,
                    });
                },

                excerpt(article) {
                    const previewLength = 200;

                    if (article.text.length <= previewLength) {
                        return article.text;
                    }

                    const articleExcerpt = article.text.substring(0, previewLength - 1) + '…';

                    return articleExcerpt;
                },
            },

            async mounted() {
                const response = await fetch(`${baseUrl}/articles`);
                const data = await response.json();
                this.articles = data;
            },
        });

        app.component('page-article', {
            template: '#page-article',

            props: {
                articleId: {
                    type: Number,
                    required: true,
                },
            },

            data() {
                return {
                    article: null,
                };
            },

            async mounted() {
                const response = await fetch(`${baseUrl}/articles/${this.articleId}`);
                const data = await response.json();
                this.article = data;
            },
        });
        
        app.mount('#blog');
    </script>
</body>
</html>
