<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="tailwind.css" rel="stylesheet">
    <title>Jožiho blog</title>
</head>
<body>
    <div id="blog" class="">
        <navbar></navbar>
        <div class="max-w-screen-xl mx-auto py-8 gap-4 lg:grid lg:grid-cols-3">
            <content
                :current-page="currentPage"
                :current-props="currentProps"
                class="lg:col-span-2"
            >
            </content>
            <sidebar></sidebar>
        </div>
    </div>

    <template id="loader">
        <svg class="absolute top-4 left-1/2 animate-spin h-10 w-10 text-green-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
    </template>

    <template id="navbar">
        <nav class="w-full bg-yellow-600 text-white">
            <div class="flex flex-col justify-center items-center max-w-screen-xl mx-auto p-4 sm:flex-row sm:justify-between sm:py-0">
                <h1 class="text-3xl font-extrabold tracking-wide" @click="displayed = !displayed">
                    Jožiho blog
                </h1>

                <ul class="sm:flex" :class="{ 'hidden': !displayed }">
                    <li
                        v-for="(item, index) in menuItems"
                        :key="`menu-item-${index}`"
                        class="uppercase font-semibold cursor-pointer p-4 hover:bg-yellow-800"
                        @click="item.handler"
                    >
                        {{ item.title }}
                    </li>
                </ul>
            </div>
        </nav>
    </template>

    <template id="sidebar">
        <aside>
            <button
                @click="$parent.navigateTo('page-create-article')"
                type="button"
                class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            >
                Vytvoriť článok
              </button>
        </aside>
    </template>

    <template id="content">
        <main class="px-4">
            <component
                :is="currentPage"
                v-bind="currentProps"
            >
            </component>
        </main>
    </template>

    <template id="page-index">
        <div class="relative space-y-8">
            <loader v-if="articles === null"></loader>
            <div v-if="articles && articles.length === 0">
                <p>Prepáčte, ale blog neobsahuje žiadne články!</p>
            </div>
            <div
                v-for="article in articles"
                :key="article.id"
                class="group bg-white shadow rounded-lg overflow-hidden transition delay-300 hover:shadow-lg">
                <div
                    @click="openArticle(article.id)"
                    class="cursor-pointer overflow-hidden"
                >
                    <img :src="article.banner" class="object-cover w-full h-96 transform duration-300 group-hover:scale-110">
                </div>
                <div class="p-8">
                    <span class="text-xs text-gray-400">{{ article.date }}</span>
                    <h3
                        class="mt-2 text-lg font-semibold text-blue-900 cursor-pointer" 
                        @click="openArticle(article.id)">
                        {{ article.title }}
                    </h3>
                    <p class="mt-4 text-gray-500">
                        {{ excerpt(article) }}
                    </p>
                    <a @click="openArticle(article.id)" class="flex mt-2 space-x-2 text-blue-900 font-semibold cursor-pointer">
                        <span>Čítať viac</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </template>

    <template id="page-article">
        <div class="relative">
            <loader v-if="article === null"></loader>
            <template v-else>
                <div>
                    <div class="rounded-lg overflow-hidden">
                        <img :src="article.banner" class="object-cover w-full h-96">
                    </div>
                    <h2 class="mt-2 text-4xl font-light">
                        {{ article.title }}
                    </h2>
                    <div class="flex space-x-2 py-2">
                        <small>{{ article.date }}</small>
                        <small>Článok bol prečítaný {{ article.views }} krát</small>
                    </div>
                    <div v-html="article.text" class="prose-lg text-justify">
                    </div>
                </div>

                <div class="mt-10">
                    <h3 class="text-2xl font-bold">
                        Komentáre
                    </h3>
                    <form
                        @submit.prevent="onSubmit"
                        class="mt-4 bg-white shadow rounded-lg p-8 grid grid-cols-2 space-y-4"
                    >
                        <div class="col-span-2 sm:col-span-1">
                            <label for="name" class="block text-sm font-medium text-gray-700">
                                Meno *
                            </label>
                            <input
                                type="text"
                                name="name"
                                placeholder="Janko Hraško"
                                id="name"
                                autocomplete="name"
                                required
                                v-model="comment.author"
                                class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                            >
                        </div>

                        <div class="col-span-2">
                            <label for="comment" class="block text-sm font-medium text-gray-700">
                                Komentár *
                            </label>
                            <div class="mt-1">
                              <textarea
                                id="comment"
                                name="comment"
                                rows="3"
                                placeholder="Sem zadajte váš komentár..."
                                required
                                v-model="comment.text"
                                class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md"
                            ></textarea>
                            </div>
                            <p class="mt-2 text-sm text-gray-500">
                              Vo svojom komentári buďte slušný a ohľaduplný k ostatným.
                            </p>
                          </div>

                          <div class="col-span-2 text-right">
                            <button
                                :disabled="commentLoading"
                                type="submit"
                                class="inline-flex justify-center items-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 disabled:opacity-50"
                            >
                                <svg v-if="commentLoading" class="animate-spin h-4 w-4 text-white mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                                </svg>
                                Komentovať
                            </button>
                          </div>
                    </form>
                    <div class="mt-4 space-y-4">
                        <div v-if="article.comments.length <= 0">
                            <p class="italic font-semibold">Prepáčte, ale článok ešte nikto nekomentoval. Buďte prvý, ktorý tak spravíte!</p>
                        </div>
                        <div
                            v-for="comment in article.comments"
                            :key="comment.id"
                            class="bg-white shadow rounded-lg overflow-hidden transition delay-300 hover:shadow-lg">
                            <div class="p-8">
                                <span
                                    class="block mt-2 text-lg font-semibold cursor-pointer" 
                                    @click="openArticle(article.id)">
                                    {{ comment.author }}
                                </span>
                                <div class="space-x-2">
                                    <span class="text-sm text-gray-400">{{ comment.date }}</span>
                                    <span class="text-sm text-gray-400 cursor-pointer" @click="commentToDeleteId = comment.id">Odstrániť</span>
                                </div>
                                <p class="mt-4 text-gray-500">
                                    {{ comment.text }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Delete comment alert -->
                <div v-if="commentToDeleteId" class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
                    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                      <!--
                        Background overlay, show/hide based on modal state.
                  
                        Entering: "ease-out duration-300"
                          From: "opacity-0"
                          To: "opacity-100"
                        Leaving: "ease-in duration-200"
                          From: "opacity-100"
                          To: "opacity-0"
                      -->
                      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
                  
                      <!-- This element is to trick the browser into centering the modal contents. -->
                      <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
                  
                      <!--
                        Modal panel, show/hide based on modal state.
                  
                        Entering: "ease-out duration-300"
                          From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                          To: "opacity-100 translate-y-0 sm:scale-100"
                        Leaving: "ease-in duration-200"
                          From: "opacity-100 translate-y-0 sm:scale-100"
                          To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                      -->
                      <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
                        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                          <div class="sm:flex sm:items-start">
                            <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                              <!-- Heroicon name: outline/exclamation -->
                              <svg class="h-6 w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                              </svg>
                            </div>
                            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                              <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                                Odstrániť komentár?
                              </h3>
                              <div class="mt-2">
                                <p class="text-sm text-gray-500">
                                  Ak chcete odstrániť tento komentár, prosím, autentikujte sa.
                                </p>
                                <div class="space-y-4 mt-4">
                                    <div>
                                        <label for="email" class="block text-sm font-medium text-gray-700">
                                            Meno
                                        </label>
                                        <input
                                            type="email"
                                            name="email"
                                            placeholder="fero@example.com"
                                            id="email"
                                            autocomplete="email"
                                            required
                                            v-model="admin.email"
                                            class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                                        >
                                    </div>
                                    <div>
                                        <label for="password" class="block text-sm font-medium text-gray-700">
                                            Heslo
                                        </label>
                                        <input
                                            type="password"
                                            name="password"
                                            placeholder="**********"
                                            id="password"
                                            autocomplete="password"
                                            required
                                            v-model="admin.password"
                                            class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                                        >
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                          <button @click="deleteComment" type="button" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">
                            Odstrániť
                          </button>
                          <button @click="commentToDeleteId = null" type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                            Zrušiť
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
            </template>
        </div>
    </template>

    <template id="page-create-article">
        <div>
            <h2 class="mt-2 text-4xl font-light">
                Vytvoriť nový článok
            </h2>
            
            <form
                @submit.prevent="onSubmit"
                class="mt-4 bg-white shadow rounded-lg p-8 space-y-4"
            >
                <div>
                    <label for="title" class="block text-sm font-medium text-gray-700">
                        Názov *
                    </label>
                    <input
                        type="text"
                        name="title"
                        placeholder="Ako išiel Janko Hraško domov z výletu"
                        id="title"
                        autocomplete="title"
                        required
                        v-model="article.title"
                        class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                    >
                </div>

                <div>
                    <label for="banner" class="block text-sm font-medium text-gray-700">
                        Baner *
                    </label>
                    <input
                        type="text"
                        name="banner"
                        placeholder="URL adresa banera"
                        id="banner"
                        autocomplete="banner"
                        required
                        v-model="article.banner"
                        class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                    >
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700">
                        Text *
                    </label>
                    <div class="prose prose-lg max-w-full">
                        <div id="editor"></div>
                    </div>
                </div>


                <hr>

                <div>
                    <label for="email" class="block text-sm font-medium text-gray-700">
                        Email *
                    </label>
                    <input
                        type="email"
                        name="email"
                        placeholder="fero@example.com"
                        id="email"
                        autocomplete="email"
                        required
                        v-model="admin.email"
                        class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                    >
                </div>

                <div>
                    <label for="password" class="block text-sm font-medium text-gray-700">
                        Password *
                    </label>
                    <input
                        type="password"
                        name="password"
                        placeholder="***************"
                        id="password"
                        autocomplete="password"
                        required
                        v-model="admin.password"
                        class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                    >
                </div>

                <div class="col-span-2 text-right">
                    <button
                        :disabled="loading"
                        type="submit"
                        class="inline-flex justify-center items-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 disabled:opacity-50"
                    >
                        <svg v-if="loading" class="animate-spin h-4 w-4 text-white mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                        </svg>
                        Vytvoriť článok
                    </button>
                </div>
            </form>
        </div>
    </template>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/31.1.0/classic/ckeditor.js"></script>
    <script>
        const baseUrl = 'http://localhost:9001';

        const Blog = {
            data() {
                return {
                    currentPage: 'page-index',
                    currentProps: {},
                };
            },

            methods: {
                navigateTo(page, props = {}) {
                    this.currentPage = page;
                    this.currentProps = props;
                },
            },
        };

        const app = Vue.createApp(Blog);

        app.component('loader', {
            template: '#loader',
        });

        app.component('navbar', {
            template: '#navbar',

            data() {
                return {
                    displayed: false,
                    menuItems: [
                        {
                            title: 'Domov',
                            handler: () => {},
                        },
                        {
                            title: 'Články',
                            handler: () => this.$parent.navigateTo('page-index'),
                        },
                        {
                            title: 'O nás',
                            handler: () => {},
                        },
                    ],
                };
            },
        });

        app.component('sidebar', {
            template: '#sidebar',
        });

        app.component('content', {
            template: '#content',

            props: {
                currentPage: {
                    type: String,
                    required: true,
                },
                currentProps: {
                    type: Object,
                    required: true,
                },
            },

            methods: {
                navigateTo(page, props = {}) {
                    this.$parent.navigateTo(page, props);
                },
            },
        });

        app.component('page-index', {
            template: '#page-index',

            data() {
                return {
                    articles: null,
                };
            },

            methods: {
                openArticle(id) {
                    this.$parent.navigateTo('page-article', {
                        articleId: id,
                    });
                },

                excerpt(article) {
                    const previewLength = 200;

                    if (article.text.length <= previewLength) {
                        return article.text;
                    }

                    const articleExcerpt = article.text.substring(0, previewLength - 1) + '…';

                    return articleExcerpt;
                },
            },

            async mounted() {
                const response = await fetch(`${baseUrl}/articles`);
                const data = await response.json();
                this.articles = data;
            },
        });

        app.component('page-article', {
            template: '#page-article',

            props: {
                articleId: {
                    type: Number,
                    required: true,
                },
            },

            data() {
                return {
                    article: null,
                    commentLoading: false,
                    comment: {
                        author: null,
                        text: null,
                    },
                    commentToDeleteId: null,
                    admin: {
                        email: null,
                        password: null,
                    },
                };
            },

            methods: {
                async onSubmit() {
                    const body = JSON.stringify(this.comment);

                    this.commentLoading = true;

                    await fetch(`${baseUrl}/articles/${this.articleId}/comments`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body,
                    });

                    await this.loadArticle();

                    this.comment.author = null;
                    this.comment.text = null;

                    this.commentLoading = false;
                },

                async loadArticle() {
                    const response = await fetch(`${baseUrl}/articles/${this.articleId}`);
                    const data = await response.json();
                    this.article = data;
                },

                async deleteComment() {
                    const authorization = btoa(`${this.admin.email}:${this.admin.password}`);
                    this.admin.email = null;
                    this.admin.password = null;

                    await fetch(`${baseUrl}/articles/${this.articleId}/comments/${this.commentToDeleteId}`, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': `Basic ${authorization}`,
                        },
                    });

                    await this.loadArticle();

                    this.commentToDeleteId = null;
                },
            },

            async mounted() {
                await this.loadArticle();
            },
        });

        var articleEditor = null;

        app.component('page-create-article', {
            template: '#page-create-article',

            data() {
                return {
                    loading: false,
                    article: {
                        title: null,
                        banner: null,
                    },
                    admin: {
                        email: null,
                        password: null,
                    },
                };
            },

            methods: {
                async onSubmit() {
                    const authorization = btoa(`${this.admin.email}:${this.admin.password}`);
                    this.admin.email = null;
                    this.admin.password = null;

                    const body = JSON.stringify({
                        ...this.article,
                        text: articleEditor.getData(),
                    });

                    this.loading = true;

                    const response = await fetch(`${baseUrl}/articles`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': `Basic ${authorization}`,
                        },
                        body,
                    });
                    const article = await response.json();

                    this.article.title = null;
                    this.article.banner = null;
                    articleEditor.setData('');
                    this.loading = false;

                    this.$parent.navigateTo('page-article', {
                        articleId: article.id,
                    });
                },
            },

            mounted() {
                ClassicEditor
                    .create(document.querySelector('#editor'))
                    .then(editor => {
                        console.log(editor);
                        articleEditor = editor;
                    })
                    .catch(error => {
                        console.error(error);
                    });
            },
        });
        
        app.mount('#blog');
    </script>
</body>
</html>
